<div class="btn-group mb10">            
    <%= link_to("Team", team_path(team), :class=>'btn btn-default'); %>
    <%= link_to("Players", players_team_path(team), :class=>'btn btn-default'); %>
    <%= link_to("Matches", matches_team_path(team), :class=>'btn btn-default'); %>
</div>