<div class="btn-group mb10">            
    <%= link_to("Team", team_path(team), :class=>'btn btn-default'); %>
    <%= link_to("Players", '', :class=>'btn btn-default'); %>
    <%= link_to("Matches", '', :class=>'btn btn-default'); %>
</div>