<section class="press">
	<h2>Announcements
		<a id="show_all_press_releases" data-href="/pressRelease/list?team_id=111" href="#">show all (15)</a>
	</h2>
	<div id="press_release_box">
		<div class="press_item">
			<div class="clearfix">
				<span class="date fl">07/10/2013</span>
			</div>
			<h3>Fantastic Result!</h3>
			The whole team clicked as a unit today and we pulled off a great upset win over the New York Royals. The bowling by Rakesh Kumar was particularly impressive and his spellof 5 for 22 set things up for an easy chase. We hope to repeat this performance against Atlanta Hawks next week!
		</div>
	</div>

	<div id="press_release_1893_comments_section" class="press_comments">
		<div>
			<div class="each_comment">
				<a class="team_name skill_11" href="/team/show/3093">Suman Sharma <span>(The Odin Legacy)</span></a>
				&nbsp;&nbsp;<a data-href="/pressRelease/deleteComment?comment_id=1773" data-confirm-message="Delete this comment?" data-comment-section-id="press_release_1893_comments_section" class="comment_delete_button" href="#">delete</a>	
				<div class="">Well played guys, this is an awesome result!</div>
				<span class="time fr">2 days ago</span>
				<br clear="all">
			</div>			
			<div class="each_comment">
				<a class="team_name skill_13" href="/team/show/59">John Doe <span>(Men From Earth)</span></a>
				&nbsp;&nbsp;<a data-href="/pressRelease/deleteComment?comment_id=1774" data-confirm-message="Delete this comment?" data-comment-section-id="press_release_1893_comments_section" class="comment_delete_button" href="#">delete</a>	<div class="">Congrats for the win, you guys were the better team on the day. We will come back strongly on the retun leg.</div>
				<span class="time fr">2 days ago</span>
				<br clear="all">
			</div>			
			<div class="each_comment">
				<a class="team_name skill_15" href="/team/show/111">Rohit Reddy <span>(Army Ants)</span></a>
				&nbsp;&nbsp;<a data-href="/pressRelease/deleteComment?comment_id=1776" data-confirm-message="Delete this comment?" data-comment-section-id="press_release_1893_comments_section" class="comment_delete_button" href="#">delete</a>	<div class="">The credit for the win goes to the entire team, all those hours of hard work is paying off.</div>
				<span class="time fr">2 days ago</span>
				<br clear="all">
			</div>
		</div>
		<div class="tac m10">
			<form class="press_release_comment_form" data-comments-section-id="press_release_1893_comments_section" id="yw0" action="/premium/pressRelease/comment/id/1893" method="post">		<textarea class="" name="PressReleaseComment[content]" id="PressReleaseComment_content"></textarea><br>
				<input class="btn btn-success" type="submit" name="yt0" value="Comment">
			</form>
		</div>
	</div>
</div>
</section>