<% if(team.recent_matches) %>
	<ul class="player_matches">
		<% team.recent_matches.each do |recent_match| %>
			<li>
				<span class="match_date"><span class="date"><%= recent_match.start_time.strftime("%d") %></span><span class="month"><%= recent_match.start_time.strftime("%b") %></span></span>
				<%= render :partial=>"matches/result_string", :locals=>{:match=>recent_match, :team=>team}; %>
			</li>
    	<% end %>
	</ul>
<% else %>
	<p class="m20">Team is yet to play a match under the new ownership.</p>
<% end %>
<br />
<%= link_to(raw("See full schedule &raquo;"), ''); %>