<div class="padit forum_page">
	<a class="btn btn-large btn-danger fr new_post" href="#">Start a New Post</a>	<h2 class="forum_name m10">
		<span class="dark">Public Forum</span>
	</h2>
	<div class="row">
		<div class="span8">
			
						
			<ul class="tabs">
									<li><a class="active" href="#">Latest</a></li>
									<li><a class="" href="#">Most Liked</a></li>
									<li><a class="" href="#">Most Replied</a></li>
									<li><a class="" href="#">My Posts</a></li>
									<li><a class="" href="#">Bookmarked</a></li>
							</ul>			
			
							<div class="items">
					<div id="yw1" class="list-view">


<div class="items">


<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							<span>5 replies</span>
												<br>
									last post
								few seconds ago						<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35485" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>1</span>
			<a href="#">Would you consider it FAKE transfer or not???</a>		</h4>
		<p class="post_meta">by <a class="team_link skill_12" href="#">Sir Raj Patel <span>(KINNG XI)</span></a>							in <a class="team_link" href="#">Hitwicket Discussions</a>						<a class="forum_title_popover" data-title="Would you consider..." data-content="I m just confused....It is a forum so i cant disclose names....but this thing is eating my mind....so i wanna discuss with all of u...A guy joins on XYZ date....then surely he wouldnt be having complete knowledge about the game...and surely he wouldnt be knowing about training.....means yea he would..." href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35485" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							<span>19 replies</span>
												<br>
									last post
								few seconds ago						<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35480" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>1</span>
			<a href="#">Joining in new academy </a>		</h4>
		<p class="post_meta">by <a class="team_link skill_7" href="#">Madhu Babu <span>(Babu Warriors)</span></a>							in <a class="team_link" href="#">Hitwicket Discussions</a>						<a class="forum_title_popover" data-title="Joining in new aca..." data-content="Can some one help me how can i join in academy as i left from my previous academy." href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35480" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							<span>57 replies</span>
												<br>
									last post
								2 minutes ago						<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35470" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>2</span>
			<a href="#">there is no god!!! </a>		</h4>
		<p class="post_meta">by <a class="team_link skill_14" href="#">Niketh <span>(EXTRA TERRESTRIALS)</span></a>							in <a class="team_link" href="#">Bug Reports</a>						<a class="forum_title_popover" data-title="there is no god!!!..." data-content="Hello developers, What does a Flat wicket produce?? An avg bowling team reduced my strong batting line up to a mere 54/8 on &quot;FLAT&quot; wicket..NO, I don say it cannot happen but what r d odds.? I mean a flat wicket with batting star rating around 7 falls down to a bowling team with stars 3.5, 5, 6 star ..." href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35470" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							<span>37 replies</span>
												<br>
									last post
								2 minutes ago						<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35446" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>11</span>
			<a href="#">Waah Kya Scout hai.. Itni Khushiiiiiiiiiiiiiiiiiii</a>		</h4>
		<p class="post_meta">by <a class="team_link skill_12" href="#">Akhilesh <span>(Raipur Rainbow)</span></a>							in <a class="team_link" href="#">Achievements</a>						<a class="forum_title_popover" data-title="Waah Kya Scout hai..." data-content="AADITEY MAHLOTRAHe is a18 yrs 28 daysold, Right-hand batsman, who bowlsOff break.His experience level isnon-existentand currently inDecentform Goodfitness.His Skill Index is622but sadly has no known source of income and will be paid a Salary of Rs5,300every week.FieldingAverageWicket-keepingHopeless..." href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35446" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							<span>14 replies</span>
												<br>
									last post
								2 minutes ago						<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35445" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>7</span>
			<a href="#">How's ur scout......? 14 08 2013</a>		</h4>
		<p class="post_meta">by <a class="team_link skill_7" href="#">Devaraj B Poliyath <span>(Next Gen Champions)</span></a>							in <a class="team_link" href="#">Achievements</a>						<a class="forum_title_popover" data-title="How's ur scout......." data-content="U must hav wondering why I hav posted this forum now...I just did it for more managers to log in...and hav a look at their fortune/misfortune....    :)But me having a very bad person but only mediocre in batting spinI'm unhappy......What about you....I hope u r having a good one..... :)" href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35445" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							<span>45 replies</span>
												<br>
									last post
								56 minutes ago						<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35352" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>12</span>
			<a href="#">My Birthday Party....</a>		</h4>
		<p class="post_meta">by <a class="team_link skill_9" href="#">Arjun Asok <span>(Kerala Thampurans)</span></a>							in <a class="team_link" href="#">Achievements</a>						<a class="forum_title_popover" data-title="My Birthday Party...." data-content="My birthday is on 14th October......means tomorrow.....Please participate my party through the post.....hearty welcome to everyone for the party....." href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35352" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							<span>9 replies</span>
												<br>
									last post
								6 minutes ago						<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35479" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>1</span>
			<a href="#">help needed</a>		</h4>
		<p class="post_meta">by <a class="team_link skill_8" href="#">Raghu reddy <span>(Mad Ants)</span></a>							in <a class="team_link" href="#">Hitwicket Discussions</a>						<a class="forum_title_popover" data-title="help needed" data-content="hi friends,urgent help needed...which one is better to sell,17yr45days accomplished/horrible spinner OR18yr65days remarkable/useless spinner...i'm training in bowling spin..." href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35479" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							<span>5 replies</span>
												<br>
									last post
								7 minutes ago						<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35224" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>0</span>
			<a href="#">Didnt get U20 prediction points</a>		</h4>
		<p class="post_meta">by <a class="team_link skill_12" href="#">Sir Satyam Chodankar <span>(Dhoni's Pirate MOJO)</span></a>							in <a class="team_link" href="#">Bug Reports</a>						<a class="forum_title_popover" data-title="Didnt get U20 pred..." data-content="i correctly predicted 4 Q in U20 predictor but still didnt get any points yet..." href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35224" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							posted 12 minutes ago										<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35484" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>0</span>
			<a href="#">India Cup Logo Competition</a>		</h4>
		<p class="post_meta">by <a class="team_link skill_4" href="#">Abhishek Chatterjee <span>(Big Indians)</span></a>							in <a class="team_link" href="#">Hitwicket Discussions</a>						<a class="forum_title_popover" data-title="India Cup Logo Com..." data-content="Hey any body knows about &quot;India Cup Logo Competition&quot;. I just came across it on facebook. Need some clarity..." href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35484" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
<div class="view short_post clearfix ">
	<div class="right">
						<p class="reply_count">
							<span>28 replies</span>
												<br>
									last post
								12 minutes ago						<input style="display:none" class="forum_ignore_multiple_checkbox show_tooltip" data-id="35001" type="checkbox" value="1" name="ignore_thread" id="ignore_thread" data-original-title="Hide selected posts from your feed">			
		</p>
	</div>
	
	<div class="left">
		<h4>
			<span>11</span>
			<a href="#">finally a win!!</a>		</h4>
		<p class="post_meta">by <a class="team_link skill_8" href="#">Shahil Ali <span>(Innocent Destroyer)</span></a>							in <a class="team_link" href="#">Achievements</a>						<a class="forum_title_popover" data-title="finally a win!!" data-content="A WIN AFTER 14 CONSECUTIVE DEFEAT IS WHAT I ACHIEVED IN DIS SEASON!!" href="#" data-original-title="">Preview</a><a class="forum_ignore show_tooltip" data-id="35001" data-url="/discussionForum/ignore" href="#" data-original-title="Hide this post from your feed">Ignore</a>			
		</p>
	</div>
</div><!--end short_post -->
</div>
<div class="keys" style="display:none" title="/discussionForum/"><span>35476</span><span>35485</span><span>35480</span><span>35470</span><span>35446</span><span>35445</span><span>35352</span><span>35479</span><span>35224</span><span>35484</span><span>35001</span><span>35387</span><span>35477</span><span>35478</span><span>35323</span><span>35475</span><span>35461</span><span>35481</span><span>35474</span><span>35468</span><span>35466</span><span>35473</span><span>35065</span><span>35454</span><span>35382</span><span>35415</span><span>35432</span><span>35217</span><span>35230</span><span>35412</span></div>
</div>					<input class="fr btn btn-info m10" id="forum_ignore_multiple" data-url="/discussionForum/ignoreMultiple" name="yt0" type="button" value="Ignore Selected">				</div><br>
						
		</div><!--end span8 -->
		<div class="span3 fr">
  
<h4 class="sub_head m30">Forum Categories</h4>

<a class="forum_category " href="#">General Discussions<span> </span></a>
<a class="forum_category " href="#">Division I<span> </span></a><a class="forum_category " href="#">Division II<span> </span></a><a class="forum_category_subscribe show_tooltip" href="#" data-original-title="Subscribe to U20 Cup"><span></span></a><a class="forum_category " href="#">Feature Requests<span> </span></a><a class="forum_category " href="#">Bug Reports<span> </span></a><a class="forum_category_unsubscribe show_tooltip" href="#" data-original-title="Unsubscribe from Bug Reports"><span></span></a><a class="forum_category " href="#">Transfer Ads<span> </span></a><a class="forum_category_subscribe show_tooltip" href="#" data-original-title="Subscribe to Transfer Ads"><span></span></a><a class="forum_category " href="#">Cricket<span> </span></a><a class="forum_category_subscribe show_tooltip" href="#" data-original-title="Subscribe to Cricket Discussions"><span></span></a><a class="forum_category " href="#">Unofficial Tournaments<span> </span></a><a class="forum_category_subscribe show_tooltip" href="#" data-original-title="Subscribe to Unofficial Tournaments"><span></span></a><br clear="all">
<br>


<h4 class="sub_head m10">Rules</h4>
<ul class="help_topics_forum">
    <li><a href="#" class="nav_link selected">Week Schedule</a></li>
    <li><a href="#" class="nav_link selected">Season Schedule</a></li>
    <li><a href="#" class="nav_link">Registration</a></li>
    <li><a href="#" class="nav_link">Responsibilities</a></li>
    <li><a href="#" class="nav_link">Conduct</a></li>
    
    
    <!--<li><a href="#">End of Season</a></li> -->
</ul>

</div>

	</div><!--end row -->
	<br clear="all">
</div>