<div style="color:#555;line-height:22px;"> 
	Hey <%= @user.name %>, <br />        
	<p style="background:#EDF5F9; padding:20px;">
		<strong>You have been invited to join cricket league.</strong>
		Temporary Password: <%= @user.temporary_password %>
	</p>
	<p>
		Thank you,<br />
		Cricket League
	</p>
</div>