<div id="team_nav">
        <div class="container" >
                <div class="row">
                        <div class="span3">
                                <p style="margin-top:20px;"><%= link_to(image_tag("mad_logo.png"), league_path(4)) %></p>
                        </div><!--end 3 -->
                        <div class="span9">
                                <div class="pull-right"><%= link_to(image_tag("logo2.png"), "http://hitwicket.com", :target=>'_blank') %></div>
                        </div>
                </div>
        </div>
</div>