<section class="match_summary">
<div class="match_header" id="match_header_banner">
   <div class="left_team">
	    <span class="team_name"><%= link_to @match.home_team.name, @match.home_team %></span>
	    <span class="current_score">
	        <span class="current_total" id="home_total_in_match_header_banner">-</span>
	        <span class="current_over" id="home_overs_in_match_header_banner"></span>
	    </span>
	</div>
	<div class="center_team">
	-
	</div>
	<div class="right_team">
	    <span class="current_score">
	        <span class="current_total" id="away_total_in_match_header_banner">-</span>
	        <span class="current_over" id="away_overs_in_match_header_banner"></span>
	    </span>
	    <span class="team_name"><%= link_to @match.away_team.name, @match.away_team %></span>
	</div>
</div>
</section>